<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>

{% include "nav.html" %}
<body>
<div align="center">
    <h2>Registration</h2>
    {% if msg %}
    <span style="color:red">{{msg}}</span>
    {% endif %}
    <form action="/register" method="post" style="width:50%">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>

        <div class="form-group">
            <label for="fullname">Fullname</label>
            <input type="text" class="form-control" id="fullname" name="fullname">
        </div>

        <div class="form-group">
            <input type="submit" class="btn" value="Register">
        </div>
    </form>
</div>
</body>
</html>